@model MM.Areas.Identity.ViewModels.ProfileViewModel;

<div class="text-center">
    <h1 class="display-4">Профиль</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="card-body">
        <p class="card-text">@Model.Email</p>
    </div>
    <div>
        @Html.ActionLink("Добавить организацию","CreateCompany","Profile")
    </div>
    
    @foreach (var user in Model.Companies)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.INN</td>
            <td>
                @using (Html.BeginForm("EditCompany", "Profile", FormMethod.Post))
                {
                    <input type="hidden" value="@user.Id" name="Id" />
                    <button type="submit" class="btn btn-sm btn-primary" asp-route-id="@user.Id">
                        Изменить
                    </button>
                }
            </td>
        </tr>
    }

}